/* PC */
@media screen and (min-width: 992px) {
        .header-bg {
            background-image: url(../../assets/images/background.jpeg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center
        }
        
    .main-header {
        .header-top {
            display: flex;
            justify-content: space-between;
            border: 1px solid #6f7174;
            height: 45px;
            margin-left: 200px;
            padding-right: 100px;
            .header-top-left {
                display: flex;
                ul {
                    display: flex;
                    li {
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 20px;
                        i {
                            color: #fec63f;
                        }
                        
                    }
                }

            }
            .header-top-right {
                display: flex;
                ul {
                    display: flex;
                    li {
                        font-size: 14px;
                        margin-top: auto;
                        margin-bottom: auto;
                        

                    }
                }
                .header-useful-links {
                    li {
                        margin-right: 14px;
                    }
                }
                .header-social-icons {
                    color: #fff;
                    li {
                        a {
                            margin-right: 20px;
                        }
                        a:hover i {
                            color: #F9C63F;
                        }
                    }
                }
            }
        }

        .header-lower {
            border-bottom: 1px solid #6f7174;
            height: 90px;
            // .header-logo {
            //     width: 100%;
            //     height: 100%;
            // }
        }

    }

    
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {

}





